<ion-header>
  <ion-toolbar>
    <ion-title>Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-item>
      <ion-label>Captura un nuevo porcentaje</ion-label>
      <ion-input placeholder="%" [(ngModel)] = "propina"></ion-input>
    </ion-item>
    <ion-button (click) = "Guardar()" expand="full">Capturar porcentaje</ion-button>
  </div>
</ion-content>
