<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Propinas hybrid
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Propinas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label>Monto</ion-label>
      <ion-input placeholder="$" [(ngModel)]="monto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Porcentaje</ion-label>
      <ion-input placeholder="%" [(ngModel)]="porcentaje"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label>{{propina}}</ion-label>
    </ion-item>
    <ion-item>
    <ion-label>{{total}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-button expand="full" (click)="Calcular()">Calcular</ion-button>
      <ion-icon name="save-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-button expand="full" color="success" (click)="Navegar()">Ir a configuración</ion-button>
      <ion-icon name="cog-outline"></ion-icon>
    </ion-item>
  </div>
</ion-content>
